@model Web_DienThoaiPhuKien.Models.Login

@{
    ViewBag.Title = "Login";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            margin: 0;
        }
        .container {
            width: 30%;
            margin: 0 auto;
            padding: 20px;
            border: 1px solid #ccc;
            background-color: white;
        }
        .login-form {
            width: 50%;
            background-color: white;
            padding: 20px;
            border: 1px solid #ccc;
        }
        .form-group {
            display: flex;
            align-items: center;
            margin-bottom: 15px;
        }

        .form-control {
            width: 200px;
            text-align: center;
        }
        .form-group label {
            display: flex;
            align-items: center;
            width: 25%;
            min-width: 100px;
            margin-right: 10px;
        }

        .form-group input[type="text"],
        .form-group input[type="password"] {
            flex: 1;
            padding: 8px;
        }
        .button {
            display: flex;
            justify-content: center;
        }
        .custom-button {
            padding: 10px 20px;
            background-color: #007bff;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
            transition: background-color 0.3s ease;
        }

            .custom-button:hover {
                background-color: #0056b3;
            }
        .title {
            text-align: center;
        }

        .field-validation-error {
            color: red;
        }
    </style>
</head>
<body style="background-image: url('/Assets/image/background.jpg'); background-repeat: no-repeat; background-size: cover; background-attachment: fixed; ">
    <div class="container">
        @using (Html.BeginForm("Login", "Account", FormMethod.Post))
        {
            <div style="display: flex; flex-direction: column; align-items: center;">
                <h2 class="title">Đăng nhập</h2>
                @Html.AntiForgeryToken()
                <div class="form-group" style="display: flex; align-items: center;">
                    <i class="far fa-user" style="color: black; margin-right: 10px;"></i>
                    @Html.LabelFor(m => m.Username)
                    @Html.TextBoxFor(m => m.Username, new { @class = "form-control", id = "Username" })
                    @Html.ValidationMessageFor(m => m.Username)
                </div>
                <div class="form-group" style="display: flex; align-items: center;">
                    <i class="fas fa-key" style="color: black; margin-right: 10px;"></i>
                    @Html.LabelFor(m => m.Password)
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", id = "Password" })
                    @Html.ValidationMessageFor(m => m.Password)
                </div>
                <div id="backToHome" style="margin-bottom: 10px; cursor: pointer; color: blue;">Trở về trang chủ</div>
                <div style="margin-bottom: 10px;"><a href="~/Account/Register">Chưa có tài khoản?</a></div>
                <div class="button">
                    <button type="submit" class="custom-button">Log In</button>
                </div>
            </div>
        }
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            document.getElementById('backToHome').addEventListener('click', function () {
                var xhr = new XMLHttpRequest();
                xhr.onreadystatechange = function () {
                    if (xhr.readyState === XMLHttpRequest.DONE) {
                        if (xhr.status === 200) {
                            // Xử lý kết quả nếu cần
                            window.location.href = '/Product/AllProduct'; // Chuyển hướng về trang chủ
                        } else {
                            console.error('Lỗi khi tải trang chủ.');
                        }
                    }
                };
                xhr.open('GET', '/Product/AllProduct', true);
                xhr.send();
            });
        });
    </script>
    <script>
        function getUsername() {
            var storedUsername = localStorage.getItem('username');
            if (storedUsername) {
                var usernameInput = document.querySelector('input[name="Username"]');
                if (usernameInput) {
                    usernameInput.value = storedUsername;
                }
            }
        }
        document.addEventListener('DOMContentLoaded', function () {
            getUsername();
        });
    </script>
</body>
</html>
