@model Web_DienThoaiPhuKien.Models.HoaDon

@{
    ViewBag.Title = "EditHoaDon";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>EditHoaDon</h2>

@using (Html.BeginForm("UpdateHoaDon", "Admin", FormMethod.Post))
{
    @Html.HiddenFor(model => model.MaHD)

    <div class="form-group">
        @Html.LabelFor(model => model.NgayDat)
        @Html.TextBoxFor(model => model.NgayDat, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.NgayDat, "", new { @class = "text-danger" })
        @Html.LabelFor(model => model.ThanhTien)
        @Html.TextBoxFor(model => model.ThanhTien, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.ThanhTien, "", new { @class = "text-danger" })
        @Html.LabelFor(model => model.TrangThai)
        @Html.TextBoxFor(model => model.TrangThai, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.TrangThai, "", new { @class = "text-danger" })
    </div>

    <!-- Thêm các trường cập nhật khác của hoá đơn -->

    <button type="submit" class="btn btn-primary">Update</button>
}

