@model IEnumerable<Web_DienThoaiPhuKien.Models.SanPham>

@{
    ViewBag.Title = "Quản lý sản phẩm";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Quản lý Sản Phẩm</h2>

<p>
    @Html.ActionLink("Thêm Sản Phẩm", "ThemSanPham", "Admin")
</p>
<table class="table">
    <tr>
        <th>
            Tên Sản Phẩm
        </th>
        <th>
            Mô tả
        </th>
        <th>
            Giá
        </th>
        <th>
            Hình ảnh
        </th>
        <th>
            Tên danh mục
        </th>
        <th>
            Số lượng tồn
        </th>
        <th></th>
        <th></th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenSP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MoTa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gia)
        </td>
        <td>
            <img style="width:100px" src="~/Assets/image/products/@item.HinhAnh" />
        </td>
        <td>
            @{Html.RenderAction("DanhMucPartialA", "Admin", new { MaDM = item.MaDM});}
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoLuongTon)
        </td>
        <td>
            @Html.ActionLink("Sửa", "EditSanPham", "Admin", new { MaSP=item.MaSP}, null)
        </td>
        <td>@Html.ActionLink("Chi tiết", "DetailProductA", "Admin", new { MaSP = item.MaSP}, null)</td>
        <td>@Html.ActionLink("Xóa", "DeleteSanPham", new { MaSP = item.MaSP})</td>
    </tr>
}

</table>
